### SQL Hitters dataset

In [1]:
!pip install sqlalchemy==1.3.9 ipython-sql

Requirement already satisfied: sqlalchemy==1.3.9 in d:\advanced python\repository\venv\lib\site-packages (1.3.9)
Requirement already satisfied: ipython-sql in d:\advanced python\repository\venv\lib\site-packages (0.4.1)
Requirement already satisfied: prettytable<1 in d:\advanced python\repository\venv\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in d:\advanced python\repository\venv\lib\site-packages (from ipython-sql) (8.15.0)
Requirement already satisfied: sqlparse in d:\advanced python\repository\venv\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in d:\advanced python\repository\venv\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in d:\advanced python\repository\venv\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: backcall in d:\advanced python\repository\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in d:\advanced python\repository\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in d:\advanced python\repository\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.19.0)
Requirement already satisfied: matplotlib-inline in d:\advanced python\repository\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in d:\advanced python\repository\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in d:\advanced python\repository\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in d:\advanced python\repository\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (2.16.1)
Requirement already satisfied: stack-data in d:\advanced python\repository\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in d:\advanced python\repository\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (5.9.0)
Requirement already satisfied: colorama in d:\advanced python\repository\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in d:\advanced python\repository\venv\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in d:\advanced python\repository\venv\lib\site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=1.0->ipython-sql) (0.2.6)
Requirement already satisfied: executing>=1.2.0 in d:\advanced python\repository\venv\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in d:\advanced python\repository\venv\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.4.0)
Requirement already satisfied: pure-eval in d:\advanced python\repository\venv\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)

### Restart and run all cell

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3
con = sqlite3.connect("hitters.db")
cur = con.cursor()

In [4]:
%sql sqlite:///hitters.db

In [7]:
# Reading datset in pandas
import pandas as pd
df = pd.read_csv("D:/DATA SCIENCE/ADVANCE PYTHON/Class 6 DT 05.10.2023/hitters.csv")

In [8]:
df.head()

,Name,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,...,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,Andy Allanson,293,66,1,30,29,14,1,293,66,...,30,29,14,A,E,446,33,20,NaN,A
1,Alan Ashby,315,81,7,24,38,39,14,3449,835,...,321,414,375,N,W,632,43,10,475.0,N
2,Alvin Davis,479,130,18,66,72,76,3,1624,457,...,224,266,263,A,W,880,82,14,480.0,A
3,Andre Dawson,496,141,20,65,78,37,11,5628,1575,...,828,838,354,N,E,200,11,3,500.0,N
4,Andres Galarraga,321,87,10,39,42,30,2,396,101,...,48,46,33,N,E,805,40,4,91.5,N

In [9]:
# Saving to SQL
df.to_sql("hits", con, if_exists='replace', index=False)

322

In [12]:
%%sql
SELECT * FROM hits
LIMIT 5;

 * sqlite:///hitters.db
Done.

[('Andy Allanson', 293, 66, 1, 30, 29, 14, 1, 293, 66, 1, 30, 29, 14, 'A', 'E', 446, 33, 20, None, 'A'),
 ('Alan Ashby', 315, 81, 7, 24, 38, 39, 14, 3449, 835, 69, 321, 414, 375, 'N', 'W', 632, 43, 10, 475.0, 'N'),
 ('Alvin Davis', 479, 130, 18, 66, 72, 76, 3, 1624, 457, 63, 224, 266, 263, 'A', 'W', 880, 82, 14, 480.0, 'A'),
 ('Andre Dawson', 496, 141, 20, 65, 78, 37, 11, 5628, 1575, 225, 828, 838, 354, 'N', 'E', 200, 11, 3, 500.0, 'N'),
 ('Andres Galarraga', 321, 87, 10, 39, 42, 30, 2, 396, 101, 12, 48, 46, 33, 'N', 'E', 805, 40, 4, 91.5, 'N')]

### Find out no missing values in each columns

In [13]:
%%sql
SELECT * FROM hits
WHERE Salary IS NULL

 * sqlite:///hitters.db
Done.

[('Andy Allanson', 293, 66, 1, 30, 29, 14, 1, 293, 66, 1, 30, 29, 14, 'A', 'E', 446, 33, 20, None, 'A'),
 ('Billy Beane', 183, 39, 3, 20, 15, 11, 3, 201, 42, 3, 20, 16, 11, 'A', 'W', 118, 0, 0, None, 'A'),
 ('Bruce Bochte', 407, 104, 6, 57, 43, 65, 12, 5233, 1478, 100, 643, 658, 653, 'A', 'W', 912, 88, 9, None, 'A'),
 ('Bob Boone', 22, 10, 1, 4, 2, 1, 6, 84, 26, 2, 9, 9, 3, 'A', 'W', 812, 84, 11, None, 'A'),
 ('Bobby Grich', 313, 84, 9, 42, 30, 39, 17, 6890, 1833, 224, 1033, 864, 1087, 'A', 'W', 127, 221, 7, None, 'A'),
 ('Bob Horner', 517, 141, 27, 70, 87, 52, 9, 3571, 994, 215, 545, 652, 337, 'N', 'W', 1378, 102, 8, None, 'N'),
 ('Bobby Meacham', 161, 36, 0, 19, 10, 17, 4, 1053, 244, 3, 156, 86, 107, 'A', 'E', 70, 149, 12, None, 'A'),
 ('Ben Oglivie', 346, 98, 5, 31, 53, 30, 16, 5913, 1615, 235, 784, 901, 560, 'A', 'E', 0, 0, 0, None, 'A'),
 ('Bip Roberts', 241, 61, 1, 34, 12, 14, 1, 241, 61, 1, 34, 12, 14, 'N', 'W', 166, 172, 10, None, 'N'),
 ('Bill Russell', 216, 54, 0, 21, 18, 15, 18, 7318, 1926, 46, 796, 627, 483, 'N', 'W', 103, 84, 5, None, 'N'),
 ('Billy Sample', 200, 57, 6, 23, 14, 14, 9, 2516, 684, 46, 371, 230, 195, 'N', 'W', 69, 1, 1, None, 'N'),
 ('Butch Wynegar', 194, 40, 7, 19, 29, 30, 11, 4183, 1069, 64, 486, 493, 608, 'A', 'E', 325, 22, 2, None, 'A'),
 ('Cecil Cooper', 542, 140, 12, 46, 75, 41, 16, 7099, 2130, 235, 987, 1089, 431, 'A', 'E', 697, 61, 9, None, 'A'),
 ('Cliff Johnson', 19, 7, 0, 1, 2, 1, 4, 41, 13, 1, 3, 4, 4, 'A', 'E', 0, 0, 0, None, 'A'),
 ('Charlie Moore', 235, 61, 3, 24, 39, 21, 14, 3926, 1029, 35, 441, 401, 333, 'A', 'E', 425, 43, 4, None, 'A'),
 ('Doug Baker', 24, 3, 0, 1, 0, 2, 3, 159, 28, 0, 20, 12, 9, 'A', 'W', 80, 4, 0, None, 'A'),
 ('Dann Bilardello', 191, 37, 4, 12, 17, 14, 4, 773, 163, 16, 61, 74, 52, 'N', 'E', 391, 38, 8, None, 'N'),
 ('Dave Collins', 419, 113, 1, 44, 27, 44, 12, 4484, 1231, 32, 612, 344, 422, 'A', 'E', 211, 2, 1, None, 'A'),
 ('Darren Daulton', 138, 31, 8, 18, 21, 38, 3, 244, 53, 12, 33, 32, 55, 'N', 'E', 244, 21, 4, None, 'N'),
 ('Danny Heep', 195, 55, 5, 24, 33, 30, 8, 1313, 338, 25, 144, 149, 153, 'N', 'E', 83, 2, 1, None, 'N'),
 ('Dave Kingman', 561, 118, 35, 70, 94, 33, 16, 6677, 1575, 442, 901, 1210, 608, 'A', 'W', 463, 32, 8, None, 'A'),
 ('Darryl Motley', 227, 46, 7, 23, 20, 12, 5, 1325, 324, 44, 156, 158, 67, 'A', 'W', 92, 2, 2, None, 'A'),
 ('Dickie Thon', 278, 69, 3, 24, 21, 29, 8, 2079, 565, 32, 258, 192, 162, 'N', 'W', 142, 210, 10, None, 'N'),
 ('Enos Cabell', 277, 71, 2, 27, 29, 14, 15, 5952, 1647, 60, 753, 596, 259, 'N', 'W', 360, 32, 5, None, 'N'),
 ('Ernest Riles', 524, 132, 9, 69, 47, 54, 2, 972, 260, 14, 123, 92, 90, 'A', 'E', 212, 327, 20, None, 'A'),
 ('Ernie Whitt', 395, 106, 16, 48, 56, 35, 10, 2303, 571, 86, 266, 323, 248, 'A', 'E', 709, 41, 7, None, 'A'),
 ('Fred Lynn', 397, 114, 23, 67, 67, 53, 13, 5589, 1632, 241, 906, 926, 716, 'A', 'E', 244, 2, 4, None, 'A'),
 ('Floyd Rayford', 210, 37, 8, 15, 19, 15, 6, 994, 244, 36, 107, 114, 53, 'A', 'E', 40, 115, 15, None, 'A'),
 ('Franklin Stubbs', 420, 95, 23, 55, 58, 37, 3, 646, 139, 31, 77, 77, 61, 'N', 'W', 206, 10, 7, None, 'N'),
 ('George Foster', 284, 64, 14, 30, 42, 24, 18, 7023, 1925, 348, 986, 1239, 666, 'N', 'E', 96, 4, 4, None, 'N'),
 ('Gorman Thomas', 315, 59, 16, 45, 36, 58, 13, 4677, 1051, 268, 681, 782, 697, 'A', 'W', 0, 0, 0, None, 'A'),
 ('Juan Bonilla', 284, 69, 1, 33, 18, 25, 5, 1407, 361, 6, 139, 98, 111, 'A', 'E', 122, 140, 5, None, 'N'),
 ('Julio Cruz', 209, 45, 0, 38, 19, 42, 10, 3859, 916, 23, 557, 279, 478, 'A', 'W', 132, 205, 5, None, 'A'),
 ('Jerry Hairston', 225, 61, 5, 32, 26, 26, 11, 1568, 408, 25, 202, 185, 257, 'A', 'W', 132, 9, 0, None, 'A'),
 ('Joe Orsulak', 401, 100, 2, 60, 19, 28, 4, 876, 238, 2, 126, 44, 55, 'N', 'E', 193, 11, 4, None, 'N'),
 ('Jorge Orta', 336, 93, 9, 35, 46, 23, 15, 5779, 1610, 128, 730, 741, 497, 'A', 'W', 0, 0, 0, None, 'A'),
 ('Jamie Quirk', 219, 47, 8, 24, 26, 17, 12, 1188, 286, 23, 100, 125, 63, 'A', 'W', 260, 58, 4, None, 'A'),
 ('Jeff Stone', 249, 69, 6, 32, 19, 20, 4, 702, 209, 10, 97, 48, 44, 'N', 'E', 103, 8, 2, None, 'N'),
 ('Jim Traber', 212, 54, 13, 28, 44, 18, 2, 233, 59, 13, 31, 46, 20, 'A', 'E', 243, 23, 5, None, 'A'),
 ('Jerry Willard', 161, 43, 4, 17, 26, 22, 3, 707, 179, 21, 77, 99, 76, 'A', 'W', 300, 12, 2, None, 'A'),
 ('Luis Rivera', 166, 34, 0, 20, 13, 17, 1, 166, 34, 0, 20, 13, 17, 'N', 'E', 64, 119, 9, None, 'N'),
 ('Lonnie Smith', 508, 146, 8, 80, 44, 46, 9, 3148, 915, 41, 571, 289, 326, 'A', 'W', 245, 5, 9, None, 'A'),
 ('Mike Brown', 243, 53, 4, 18, 26, 27, 4, 853, 228, 23, 101, 110, 76, 'N', 'E', 107, 3, 3, None, 'N'),
 ('Mike Fitzgerald', 209, 59, 6, 20, 37, 27, 4, 884, 209, 14, 66, 106, 92, 'N', 'E', 415, 35, 3, None, 'N'),
 ('Mickey Hatcher', 317, 88, 3, 40, 32, 19, 8, 2543, 715, 28, 269, 270, 118, 'A', 'W', 220, 16, 4, None, 'A'),
 ('Nick Esasky', 330, 76, 12, 35, 41, 47, 4, 1367, 326, 55, 167, 198, 167, 'N', 'W', 512, 30, 5, None, 'N'),
 ('Omar Moreno', 359, 84, 4, 46, 27, 21, 12, 4992, 1257, 37, 699, 386, 387, 'N', 'W', 151, 8, 5, None, 'N'),
 ("Pete O'Brien", 551, 160, 23, 86, 90, 87, 5, 2235, 602, 75, 278, 328, 273, 'A', 'W', 1224, 115, 11, None, 'A'),
 ('Rich Gedman', 462, 119, 16, 49, 65, 37, 7, 2131, 583, 69, 244, 288, 150, 'A', 'E', 866, 65, 6, None, 'A'),
 ('Ricky Jones', 33, 6, 0, 2, 4, 7, 1, 33, 6, 0, 2, 4, 7, 'A', 'W', 205, 5, 4, None, 'A'),
 ('Randy Kutcher', 186, 44, 7, 28, 16, 11, 1, 186, 44, 7, 28, 16, 11, 'N', 'W', 99, 3, 1, None, 'N'),
 ('Rudy Law', 307, 80, 1, 42, 36, 29, 7, 2421, 656, 18, 379, 198, 184, 'A', 'W', 145, 2, 2, None, 'A'),
 ('Reggie Williams', 303, 84, 4, 35, 32, 23, 2, 312, 87, 4, 39, 32, 23, 'N', 'W', 179, 5, 3, None, 'N'),
 ('Tony Armas', 16, 2, 0, 1, 0, 0, 2, 28, 4, 0, 1, 0, 0, 'A', 'E', 247, 4, 8, None, 'A'),
 ('Toby Harrah', 289, 63, 7, 36, 41, 44, 17, 7402, 1954, 195, 1115, 919, 1153, 'A', 'W', 166, 211, 7, None, 'A'),
 ("Tom O'Malley", 181, 46, 1, 19, 18, 17, 5, 937, 238, 9, 88, 95, 104, 'A', 'E', 37, 98, 9, None, 'A'),
 ('Tony Perez', 200, 51, 2, 14, 29, 25, 23, 9778, 2732, 379, 1272, 1652, 925, 'N', 'W', 398, 29, 7, None, 'N'),
 ('Tim Raines', 580, 194, 9, 91, 62, 78, 8, 3372, 1028, 48, 604, 314, 469, 'N', 'E', 270, 13, 6, None, 'N'),
 ('Wayne Krenchicki', 221, 53, 2, 21, 23, 22, 8, 1063, 283, 15, 107, 124, 106, 'N', 'E', 325, 58, 6, None, 'N')]

### Find out people who have batted more than 400 matches

In [16]:
%%sql
SELECT count(*) FROM hits
WHERE atBat>400;

 * sqlite:///hitters.db
Done.

[(151,)]

In [18]:
len(df[df['AtBat']>400])

151

### Find out name of player who has hit max home runs

In [19]:
%%sql 
SELECT MAX(HmRun) FROM hits;

 * sqlite:///hitters.db
Done.

[(40,)]

In [22]:
%%sql
SELECT Name From hits
WHERE HmRun = (SELECT MAX(HmRun) From Hits);

 * sqlite:///hitters.db
Done.

[('Jesse Barfield',)]

In [23]:
x = df.max()['HmRun']
x

40

In [24]:
df[df['HmRun']==x]['Name']

136    Jesse Barfield
Name: Name, dtype: object

### Find out league wise total number of players

In [25]:
%%sql
SELECT League, count(League) as PlayerNum FROM hits
GROUP BY League

 * sqlite:///hitters.db
Done.

[('A', 175), ('N', 147)]

In [26]:
df.groupby(by='League').count()['Name']

League
A    175
N    147
Name: Name, dtype: int64

In [27]:
%%sql
SELECT Division, SUM(Salary) as totalSalary FROM hits
GROUP BY Division;

 * sqlite:///hitters.db
Done.

[('E', 80531.006), ('W', 60417.501000000004)]

In [28]:
df.groupby(by='Division').sum()['Salary']

Division
E    80531.006
W    60417.501
Name: Salary, dtype: float64

### Find out five most senior players

In [30]:
%%sql
SELECT Name, Years FROM hits
ORDER BY Years DESC
LIMIT 5;

 * sqlite:///hitters.db
Done.

[('Pete Rose', 24),
 ('Tony Perez', 23),
 ('Graig Nettles', 20),
 ('Reggie Jackson', 20),
 ('Ted Simmons', 19)]