### Class in OPP (object oriented Programming)

In [1]:
age = 32
print(type(age))

<class 'int'>

In [2]:
h = 5.8
print(type(h))

<class 'float'>

In [3]:
s = [9,8,7,6,5,4]
print(type(s))

<class 'list'>

In [4]:
s.append(2)

In [5]:
s

[9, 8, 7, 6, 5, 4, 2]

### Create a custom class person

In [8]:
class Person:

    # Constructor function - define attributes of function
    def __init__(self, name, age, gender, occupation):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation

    # User Defined function
    def talk(self):
        print(f'Hi There my name is {self.name}')
        print(f'My age is {self.age}')
        print(f'I am {self.gender}')
        print(f'I work as {self.occupation}')

In [9]:
p1 = Person(name='Nachiket', age=32, gender='male', occupation='Chemist')

In [10]:
print(type(p1))

<class '__main__.Person'>

In [11]:
p1.name

'Nachiket'

In [12]:
p1.age

32

In [13]:
p1.occupation

'Chemist'

In [14]:
p1.gender

'male'

In [15]:
p1.talk()

Hi There my name is Nachiket
My age is 32
I am male
I work as Chemist

In [16]:
p2 = Person(name='Roshani', age=33, gender='Female', occupation='HR')

In [17]:
p2

In [18]:
p2.talk()

Hi There my name is Roshani
My age is 33
I am Female
I work as HR

### Create a class bank account

![Alt text](image.png)

In [2]:
class account:

    # Add init constructor
    def __init__(self, ac_no, name, bal=0):
        self.ac_no = ac_no
        self.name = name
        self.bal  = bal

    # Function for Depositing money
    def deposit(self, amt):
        self.bal = self.bal + amt
        print(f'Balance of {amt} INR Deposited in Your Bank account number : {self.ac_no} ')
        print(f'Current Balance : {self.bal} INR')

    # Function to withdraw money
    def withdraw(self, amt):
        if self.bal >= amt:
            self.bal = self.bal - amt
            print(f'Amount of {amt} INR withdrawn from your bank account number : {self.ac_no}')
            print(f'Current Balance : {self.bal} INR')
        else:
            print(f'Insufficient Balance in account {self.ac_no}. Current Balance in your account is {self.bal} INR')

    # Function to transfer money
    def transfer(self, amt, ac2):
        if self.bal >= amt:
            self.bal = self.bal - amt
            ac2.bal = ac2.bal + amt
            print(f'Amount of {amt} INR Transferred to account number : {ac2.ac_no} from your account : {self.ac_no}')
            print(f'Current Balance : {self.bal} INR')
        else:
            print(f'Insufficient balance in account {self.ac_no}. Current balance in your account is {self.bal} INR')

In [3]:
a1 = account(ac_no=123, name='Nachiket Devghare', bal=5000)

In [4]:
print(type(a1))

<class '__main__.account'>

In [5]:
a1.ac_no

123

In [6]:
a1.name

'Nachiket Devghare'

In [7]:
a1.bal

5000

In [9]:
a1.deposit(7500)

Balance of 7500 INR Deposited in Your Bank account number : 123
Current Balance : 12500 INR

In [10]:
a1.bal

12500

In [11]:
a1.withdraw(3250)

Amount of 3250 INR withdrawn from your bank account number : 123
Current Balance : 9250 INR

In [12]:
a1.bal

9250

In [14]:
a1.withdraw(30000)

Insufficient Balance in account 123. Current Balance in your account is 6250 INR

In [17]:
a2 = account(ac_no=456, name='Roshani Thakur')

In [18]:
a2.ac_no

456

In [19]:
a2.name

'Roshani Thakur'

In [20]:
a2.bal

0

### Transferring money from a1 to a2

In [21]:
a1.bal

6250

In [22]:
a1.transfer(amt=3000, ac2=a2)

Amount of 3000 INR Transferred to account number : 456 from your account : 123
Current Balance : 3250 INR

In [23]:
a2.transfer(amt=1000, ac2=a1)

Amount of 1000 INR Transferred to account number : 123 from your account : 456
Current Balance : 2000 INR

In [24]:
a1.bal

4250

In [25]:
a2.bal

2000